@import './theme.scss';

$family-sans-serif: 'Montserrat', sans-serif;

$primary: $yellow;
$body-color: $black;
$navbar-background-color: $black;
$navbar-item-hover-background-color	: $yellow;
$navbar-burger-color: $white;
$navbar-height: 2.5rem;
$navbar-height-big: 3rem;
$radius: 0;
$widescreen-enabled: false;
$fullhd-enabled: false;
