@import './theme.scss';

$family-sans-serif: 'Montserrat', sans-serif;

$navbar-background-color: $black;
$navbar-item-hover-background-color	: $yellow;
$navbar-burger-color: $white;
$navbar-height: 2.5rem;
$navbar-height-big: 3rem;

