@import './theme.scss';

// theme
$primary: $yellow;
$primary-invert: $black; 
$grey-darker: $black; 
$link: $primary;
$scheme-main: $black; 
$dark: $black;

// global
$body-background-color: $white;
$text: $black;
$radius: 0;
$family-sans-serif: 'Montserrat', sans-serif;

// navbar
$navbar-item-hover-background-color	: transparent;
$navbar-item-color: $white;
$navbar-height: 4.75rem;

// layout
$widescreen-enabled: false;
$fullhd-enabled: false;

// button
$button-disabled-opacity: 1;